
<ion-header>

  <ion-navbar *ngIf="tDictionary.dictionary != null">
    <ion-title>{{tDictionary.dictionary.TITLE_RECOVERY}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="full-height">
  <div class="flex-item my-form" *ngIf="tDictionary.dictionary != null">

    <form [formGroup]='myFormRecovery'>
      <ion-list no-lines>
          <ion-item>
              <ion-input type="text" formControlName="id" placeholder="{{tDictionary.dictionary.IDENTIFICATION}}" name="id"></ion-input>
          </ion-item>
      </ion-list>
    </form>

    <button ion-button block round full color="primary" (click)="recovery_password()">{{tDictionary.dictionary.TITLE_RECOVERY}}</button>

    <p *ngIf="!myFormRecovery.controls.id.valid  && (myFormRecovery.controls.id.dirty || submitAttempt)">
      {{tDictionary.dictionary.REG_ID_VALIDATION}}
    </p>
  </div>
</div>

</ion-content>
