<ion-header>

  <ion-navbar>
    <ion-title>{{tDictionary.dictionary.TITLE_CHANGE_PASS_PAGE}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]='myFormChangePassword'>

      <ion-item>
        <ion-label floating>{{tDictionary.dictionary.CURRENT_PASS}}</ion-label>
        <ion-input type="password" formControlName="password1" name="password1"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myFormChangePassword.controls.password1.valid  && (myFormChangePassword.controls.password1.dirty || submitAttempt)">
        <p>{{tDictionary.dictionary.REG_PASSWORD_VALIDATION}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>{{tDictionary.dictionary.NEW_PASS}}</ion-label>
        <ion-input type="password" formControlName="password2" name="password2"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myFormChangePassword.controls.password2.valid  && (myFormChangePassword.controls.password2.dirty || submitAttempt)">
        <p>{{tDictionary.dictionary.REG_PASSWORD_VALIDATION}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>{{tDictionary.dictionary.NEW_PASS_RE}}</ion-label>
        <ion-input type="password" formControlName="password3" name="password3"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myFormChangePassword.controls.password3.valid  && (myFormChangePassword.controls.password3.dirty || submitAttempt)">
        <p>{{tDictionary.dictionary.REG_PASSWORD_VALIDATION}}</p>
      </ion-item>

      <ion-item *ngIf="errorPassword != null">
        <p>{{errorPassword}}</p>
      </ion-item>

    </form>
    <br>
    <br>
    <button ion-button block round (click)="save()">{{tDictionary.dictionary.BTN_CHAGE_PASS}}</button>
</ion-content>