
<ion-content padding>

    <div class="full-height">
        <div class="flex-item my-form" *ngIf="tDictionary.dictionary != null">
            <br><br><br>
            <div class="logo-container">
                <img src="assets/images/logo.png" alt=""/>
            </div>

            <form [formGroup]='myFormLogin'>
              
              <ion-list no-lines>
                <ion-item>
                  <ion-input type="text" formControlName="username"  placeholder="{{tDictionary.dictionary.USERNAME}}" name="username"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input type="password" formControlName="password" placeholder="{{tDictionary.dictionary.PASSWORD}}" name="password"></ion-input>
                </ion-item>

                <!--<ion-item *ngIf="!myFormLogin.controls.password.valid  && (myFormLogin.controls.password.dirty || submitAttempt)">
                  <p>Please enter a valid password.</p>
                </ion-item>-->
              </ion-list>
          </form>

            <div class="buttons-container">
              <button ion-button block round (click)="save()">{{tDictionary.dictionary.LOGIN}}</button>
              <button (click)="goToRegister()" ion-button full outline no-lines>{{tDictionary.dictionary.CREATE_ACCOUNT_1}}</button>
              <button (click)="goToRecovery()" ion-button full outline no-lines>{{tDictionary.dictionary.RECOVERY_PASS}}</button>
            </div>
        </div>
    </div>
    
</ion-content>
