<ion-header>

  <ion-navbar *ngIf="tDictionary.dictionary != null">
    <ion-title>{{tDictionary.dictionary.TITLE_PRODUCT}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="tDictionary.dictionary != null">    <!-- myInput.value -->
    <ion-searchbar #myInput [(ngModel)]="searchProductString" (ionInput)="searchProduct($event)" placeholder="{{tDictionary.dictionary.SEARCH}}" autocorrect="off"></ion-searchbar>
    <ion-list *ngIf="products?.length > 0">
      
      <p *ngIf="products[0].error == 0">
        <ion-item ion-item *ngFor="let product of products" >
          <ion-thumbnail item-left>
            <img src="{{host}}/img/{{product.image}}">
          </ion-thumbnail>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <button ion-button clear item-right (click)="selectedItem(product)">{{tDictionary.dictionary.VIEW}}</button>
        </ion-item>
      </p>   
      <p *ngIf="products[0].error == 1">
        {{tDictionary.dictionary.NO_PRODUCT}}
      </p>   
    </ion-list>
    
</ion-content>
