<ion-header>

  <ion-navbar>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item *ngIf=" user != null">
      <ion-avatar item-left>
        <img src="{{host}}/photos/{{user.photo}}">
      </ion-avatar>
      <h2>{{user.name}} {{user.lastname}}</h2>
      <p>{{user.username}}</p>
    </ion-item>

    <ion-item *ngIf=" user != null">
        <ion-label>Change of category</ion-label>
        <ion-select [(ngModel)]="id_category" (ngModelChange)="onChangeCategory($event)">
          <ion-option *ngFor="let item of categoryList" value="{{item.id}}" [selected]=" item.id == user.id_category">
            {{item.name}}
          </ion-option>          
        </ion-select>

    </ion-item>
    
  </ion-card>

    <button (click)="logout()" ion-button full outline>Logout</button>
</ion-content>
